svg {
   /* height: 2000px;
    width: 2000px;
    border: 1px solid gray;*/
  }
  g.am-axis text {
    font-size: 8px;
  }

  .domain {
    fill: none;
  }

  .tick > line{
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: .25;
  }
  
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2em;
  background: #FDF6E3;
  color: #475B62;
}
 
strong {
  font-weight: 600;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #CB4B19;
  font-size: 1.75em;
  margin-bottom: .4em;
}
 
p {
  margin-bottom: .5em;
}
 
.container {
 /* width: 80%;
  max-width: 1200px;
  margin: 0 auto;*/
  margin:10px;
}
 
@media all and (max-width: 500px) {
  h2 {
    padding-left: 10px;
    text-align: center;
  }
  .container {
    width: 100%;
  }
}
 
#graphic {
  margin: 0 auto;
}